/* Dashboard
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*color*/
$coloraccent: #239687;
$colorhighlight: #AAFAFF;
$colorbase: #222222;
$colorlight: #FAFAFF;
$colordark: #111111;

/*sizes*/
$titlebarheight: 8.0rem;

.dash-sidebar {
  background-color: $colorbase;
  color: $colorlight;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $colorhighlight;
    }
  }

  .dash-title {
    text-align: center;
    line-height: $titlebarheight;
    font-size: 2.0rem;
    background-color: $coloraccent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .dash-sidebar-container {
    ul.dash-list {
      list-style: none;
      margin-bottom: 0;

      .dash-item {
        margin-bottom: 0;

        div {
          text-align: center;
          padding: 1.6rem;
          font-size: 1.6rem;
          line-height: 3.2rem;
          &:hover {
            background-color: $colordark;
          }
        }
      }
    }
  }
}

.dash-container {
  .title {
    background-color: $coloraccent;
    color: $colorlight;
    line-height: $titlebarheight;
    font-size: 2.4rem;
    padding: 0 16px;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .content {
    padding: 16px;
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: $colorlight;

    .list {
      list-style: none;
      margin-bottom: 0;

      .list-item {
        margin-bottom: 0;
        padding: 8px;

        .name {

        }
        .options {
          float: right;
          list-style: none;
          margin: 0;

          .option {
            display: inline-block;
            margin: 0 1.2rem 0 0;
            padding: 0.2rem;
          }
        }
      }
    }
    .editortitle {

    }
    .editor {

    }
  }
}
